<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
	<test name="Test Cases">
		<classes>
			<class name="com.howtodoinjava.demo.CheckGet"/>
			<class name="com.howtodoinjava.demo.CheckPost"/>
			<class name="com.howtodoinjava.demo.CheckPut"/>
			<class name="com.howtodoinjava.demo.CheckDelete"/>
		</classes>
	</test>
</suite>